<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClassesApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A9472A6242C1E76004927DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9472BC242C1E7C004927DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A9472C7242C1E7C004927DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
